<a href="https://colab.research.google.com/github/VinnyRosa/Alura-Challenge-DS/blob/main/Projeto_Alura_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpeza dos Dados(Challenge Alura semana 1)

## Reestruturação inicial dos dados

Neste primeiro momento, o foco inicial do trabalho foi de importar e realizar o primeiro contato com o dataset para compreender as informações de trabalho recebidas.

O primeiro passo que eu realizei, foi o de reestruturar o dataset, pois as informações estavam organizadas em dicionários dentro das colunas do dataset, impossibilitando possíveis tratamentos.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# importando os dados do API
dados = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')
dados

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [ ]:
# separando os dados que estão dentro dos dicts das colunas(customer,  phone, internet, account)
dados_customer = pd.json_normalize(data=dados.customer)
dados_customer

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [ ]:
# separando os dados que estão dentro dos dicts das colunas(customer,  phone, internet, account)
dados_phone = pd.json_normalize(data=dados.phone)
dados_phone

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [ ]:
# separando os dados que estão dentro dos dicts das colunas(customer,  phone, internet, account)
dados_internet = pd.json_normalize(data=dados.internet)
dados_internet

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [ ]:
# separando os dados que estão dentro dos dicts das colunas(customer,  phone, internet, account)
dados_account = pd.json_normalize(data=dados.account)
dados_account

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [ ]:
# usando função concat pra reagrupar as informações e deixar elas em função do customer ID
# pesquisar sobre o merge e aplicar ele
dataset = pd.concat([dados, dados_customer, dados_phone, dados_internet, dados_account], axis=1)
dataset

,customerID,Churn,customer,phone,internet,account,gender,SeniorCitizen,Partner,Dependents,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Female,0,Yes,Yes,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No,No,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No,No,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,1,Yes,No,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Female,1,Yes,No,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Female,0,No,No,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,Yes,No,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No,No,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '...",Male,0,Yes,Yes,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '...",Male,0,Yes,Yes,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [ ]:
# removendo as colunas que estavam com os dicts
dataset.drop(columns=['customer', 'phone', 'internet', 'account'], inplace=True)
dataset

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [ ]:
pd.set_option("display.max_columns", 1000)

In [ ]:
# resultado final após concatenação das colunas novas
dataset

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

## verificação de não conformidades

Nessa etapa eu analisei e verifiquei possíveis inconsistências nos dados(dados faltantes, dados NaN ou invalidos, etc...) que fossem necessários de tratar.

In [ ]:
# verificação de algumas informações do dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [ ]:
# isolando uma coluna
dataset.iloc[:, [1]]

     Churn
0       No
1       No
2      Yes
3      Yes
4      Yes
...    ...
7262    No
7263   Yes
7264    No
7265    No
7266    No

[7267 rows x 1 columns]

In [ ]:
# agrupando pra verificar quantos IDs tem em cada identificação do status do churn
# identificação de inconsistencia: entradas de churn vazia(sem identificação de yes ou no)
dataset.groupby('Churn').nunique()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
Churn,,,,,,,,,,,,,,,,,,,,
,224,2,2,2,2,64,2,3,3,3,3,3,3,3,3,3,2,4,188,223
No,5174,2,2,2,2,73,2,3,3,3,3,3,3,3,3,3,2,4,1460,4966
Yes,1869,2,2,2,2,72,2,3,3,3,3,3,3,3,3,3,2,4,910,1732

In [ ]:
# identificação de inconsistencia: ao inves de 0 e 1, deveria estar escrito yes(1) e no(0). objetivo da mudança seria para padronizar os valores
# de acordo com o resto do dataset para melhor consistencia
dataset.groupby('SeniorCitizen').nunique()

,customerID,Churn,gender,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
SeniorCitizen,,,,,,,,,,,,,,,,,,,,
0,6085,3,2,2,2,73,2,3,3,3,3,3,3,3,3,3,2,4,1505,5486
1,1182,3,2,2,2,72,2,3,3,3,3,3,3,3,3,3,2,4,719,1126

In [ ]:
# inconsistencia nos dados: o tenure = 0 possui uma quantidade distoante de elementos se comparado com o resto da serie, o que pode comprometer sua
# visualização gráfica e tratamento futuro
dataset.groupby('tenure').nunique()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
tenure,,,,,,,,,,,,,,,,,,,,
0,11,1,2,1,2,1,2,3,2,3,3,3,3,3,3,2,2,3,11,1
1,634,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,359,359
2,246,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,196,228
3,207,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,177,198
4,185,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,157,172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,104,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,96,100
69,100,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,93,95
70,122,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,113,119
71,176,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,151,170
72,369,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,299,362

In [ ]:
# inconsistencia nos dados: o charges.total vazio pode comprometer sua visualização gráfica e realização de calculos
dataset.groupby('Charges.Total').nunique()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly
Charges.Total,,,,,,,,,,,,,,,,,,,,
,11,1,2,1,2,1,1,2,3,2,3,3,3,3,3,3,2,2,3,11
100.2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
100.25,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
100.35,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
100.4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997.75,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
998.1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
999.45,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
999.8,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
999.9,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [ ]:
dataset_churn = dataset.iloc[:, [1]]
dataset_churn

     Churn
0       No
1       No
2      Yes
3      Yes
4      Yes
...    ...
7262    No
7263   Yes
7264    No
7265    No
7266    No

[7267 rows x 1 columns]

In [ ]:
# aplicação do metodo to_numeric pra transformar o charges.total em float
dataset['Charges.Total'] = pd.to_numeric(dataset['Charges.Total'], errors='coerce')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [ ]:
# verificação das entradas com valores NaN
dataset[dataset['Charges.Total'].isnull()]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

In [ ]:
# aplicação do dropna para remover as entradas NaN
dataset.dropna(subset = ['Charges.Total'], inplace = True)

In [ ]:
# nova verificação da mudança
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7256 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7256 non-null   object
 1   Churn             7256 non-null   object
 2   gender            7256 non-null   object
 3   SeniorCitizen     7256 non-null   int64
 4   Partner           7256 non-null   object
 5   Dependents        7256 non-null   object
 6   tenure            7256 non-null   int64
 7   PhoneService      7256 non-null   object
 8   MultipleLines     7256 non-null   object
 9   InternetService   7256 non-null   object
 10  OnlineSecurity    7256 non-null   object
 11  OnlineBackup      7256 non-null   object
 12  DeviceProtection  7256 non-null   object
 13  TechSupport       7256 non-null   object
 14  StreamingTV       7256 non-null   object
 15  StreamingMovies   7256 non-null   object
 16  Contract          7256 non-null   object
 17  PaperlessBilling  7256 non-null   object
 18  PaymentMethod     7256 non-null   object
 19  Charges.Monthly   7256 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [ ]:
# inconsistencia do tenure foi resolvida com o tratamento do charges.total, indicando que o problema das duas variáveis tinham a mesma causa
dataset.groupby('tenure').nunique()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
tenure,,,,,,,,,,,,,,,,,,,,
1,634,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,359,359
2,246,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,196,228
3,207,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,177,198
4,185,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,157,172
5,138,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,119,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,104,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,96,100
69,100,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,93,95
70,122,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,113,119
71,176,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,151,170
72,369,3,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,299,362

In [ ]:
# tratamento das entradas nulas do churn
dataset = dataset.query('Churn == "Yes" or Churn == "No"')
dataset

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.90
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60

In [ ]:
# reset do index após tratamento final do churn
dataset = dataset.reset_index(drop=True)
dataset

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.90
7028,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70
7029,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7030,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7031,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60

ponderações finais sobre o tratamento:

o motivo principal de eu ter removido as entradas nulas de churn, se da ao fato de que o tamanho da amostra de valores era consideravelmente inferior ao resto do dataset. além disso, preferi executar essa abordagem para evitar qualquer tipo de poluição dos dados não intencional ao incorporar eles em uma das categorias(yes ou no)

## Atividades extras do projeto

segue abaixo o código escrito para tradução das entradas do dataset para o portugues.

a tradução foi realizada de forma livre, sem uso de bibliotecas especificas de dados, portanto essa tradução está passível de erro também. se alguem identificar alguma falha na tradução que realizei, me notifique que eu irei editar. desde já, peço desculpas pelo transtorno e obrigado pela compreensão

In [ ]:
# renomeando as colunas do dataset para traduzir elas
renomear = { 'customerID': 'IDcliente',
            'Churn': 'Evasao',
            'gender': 'Genero',
            'SeniorCitizen': 'Senioridade',
            'Partner': 'Parceiro',
            'Dependents': 'Depedentes',
            'tenure': 'Permanencia',
            'PhoneService': 'Serviço_Movel',
            'MultipleLines': 'Multiplas_Linhas',
            'InternetService': 'Serviço_Internet',
            'OnlineSecurity': 'Segurança_Online',
            'OnlineBackup': 'Backup_Online',
            'DeviceProtection': 'Proteção_Dispositivo',
            'TechSupport': 'Suporte_Tecnico',
            'StreamingTV': 'TV_a_Cabo',
            'StreamingMovies': 'Serviço_Filmes',
            'Contract': 'Contrato',
            'PaperlessBilling': 'Fatura_Digital',
            'PaymentMethod': 'Metodo_Pagamento',
            'Charges.Monthly': 'Tarifa_mensal',
            'Charges.Total': 'Tarifa_Total',
            'No': 'Não',
            'Yes': 'Sim'
}

In [ ]:
dataset = dataset.rename(columns = renomear)
dataset

,IDcliente,Evasao,Genero,Senioridade,Parceiro,Depedentes,Permanencia,Serviço_Movel,Multiplas_Linhas,Serviço_Internet,Segurança_Online,Backup_Online,Proteção_Dispositivo,Suporte_Tecnico,TV_a_Cabo,Serviço_Filmes,Contrato,Fatura_Digital,Metodo_Pagamento,Tarifa_mensal,Tarifa_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.90
7028,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70
7029,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7030,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7031,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60

In [ ]:
# código usado para traduzir o conteudo das colunas. está longe de ser perfeito, mas é funcional. preciso de ajuda pra melhorar ele
traduzir = {
    'No': 'Não',
    'Yes': 'Sim',
    'Fiber optic': 'Fibra óptica',
    'DSL': 'DSL',
    'No phone service': 'sem serviço',
    'No internet service': 'sem serviço',
    'Female': 'Feminino',
    'Male': 'Masculino',
    'One year': 'Anual',
    'Month-to-month': 'Mensal',
    'Two year': 'Bianual',
    'Mailed check': 'Boleto bancário', 
    'Electronic check': 'Pagamento Virtual', 
    'Credit card (automatic)': 'débito automático(crédito)',
    'Bank transfer (automatic)': 'débito automático',
    0: 'Não',
    1: 'Sim'
}

dataset.Evasao = dataset.Evasao.map(traduzir)
dataset.Genero = dataset.Genero.map(traduzir)
dataset.Senioridade = dataset.Senioridade.map(traduzir)
dataset.Parceiro = dataset.Parceiro.map(traduzir)
dataset.Depedentes = dataset.Depedentes.map(traduzir)
dataset.Serviço_Movel = dataset.Serviço_Movel.map(traduzir)
dataset.Multiplas_Linhas = dataset.Multiplas_Linhas.map(traduzir)
dataset.Serviço_Internet = dataset.Serviço_Internet.map(traduzir)
dataset.Segurança_Online = dataset.Segurança_Online.map(traduzir)
dataset.Backup_Online = dataset.Backup_Online.map(traduzir)
dataset.Proteção_Dispositivo = dataset.Proteção_Dispositivo.map(traduzir)
dataset.Suporte_Tecnico = dataset.Suporte_Tecnico.map(traduzir)
dataset.TV_a_Cabo = dataset.TV_a_Cabo.map(traduzir)
dataset.Serviço_Filmes = dataset.Serviço_Filmes.map(traduzir)
dataset.Contrato = dataset.Contrato.map(traduzir)
dataset.Fatura_Digital = dataset.Fatura_Digital.map(traduzir)
dataset.Metodo_Pagamento = dataset.Metodo_Pagamento.map(traduzir)
# eu parei aqui(11/06/2022)

In [ ]:
dataset

,IDcliente,Evasao,Genero,Senioridade,Parceiro,Depedentes,Permanencia,Serviço_Movel,Multiplas_Linhas,Serviço_Internet,Segurança_Online,Backup_Online,Proteção_Dispositivo,Suporte_Tecnico,TV_a_Cabo,Serviço_Filmes,Contrato,Fatura_Digital,Metodo_Pagamento,Tarifa_mensal,Tarifa_Total
0,0002-ORFBO,Não,Feminino,Não,Sim,Sim,9,Sim,Não,DSL,Não,Sim,Não,Sim,Sim,Não,Anual,Sim,Boleto bancário,65.60,593.30
1,0003-MKNFE,Não,Masculino,Não,Não,Não,9,Sim,Sim,DSL,Não,Não,Não,Não,Não,Sim,Mensal,Não,Boleto bancário,59.90,542.40
2,0004-TLHLJ,Sim,Masculino,Não,Não,Não,4,Sim,Não,Fibra óptica,Não,Não,Sim,Não,Não,Não,Mensal,Sim,Pagamento Virtual,73.90,280.85
3,0011-IGKFF,Sim,Masculino,Sim,Sim,Não,13,Sim,Não,Fibra óptica,Não,Sim,Sim,Não,Sim,Sim,Mensal,Sim,Pagamento Virtual,98.00,1237.85
4,0013-EXCHZ,Sim,Feminino,Sim,Sim,Não,3,Sim,Não,Fibra óptica,Não,Não,Não,Sim,Sim,Não,Mensal,Sim,Boleto bancário,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,9987-LUTYD,Não,Feminino,Não,Não,Não,13,Sim,Não,DSL,Sim,Não,Não,Sim,Não,Não,Anual,Não,Boleto bancário,55.15,742.90
7028,9992-RRAMN,Sim,Masculino,Não,Sim,Não,22,Sim,Sim,Fibra óptica,Não,Não,Não,Não,Não,Sim,Mensal,Sim,Pagamento Virtual,85.10,1873.70
7029,9992-UJOEL,Não,Masculino,Não,Não,Não,2,Sim,Não,DSL,Não,Sim,Não,Não,Não,Não,Mensal,Sim,Boleto bancário,50.30,92.75
7030,9993-LHIEB,Não,Masculino,Não,Sim,Sim,67,Sim,Não,DSL,Sim,Não,Sim,Sim,Não,Sim,Bianual,Não,Boleto bancário,67.85,4627.65
7031,9995-HOTOH,Não,Masculino,Não,Sim,Sim,63,Não,sem serviço,DSL,Sim,Sim,Sim,Não,Sim,Sim,Bianual,Não,Pagamento Virtual,59.00,3707.60

In [ ]:
# verificação final do dataset tratado
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   IDcliente             7032 non-null   object
 1   Evasao                7032 non-null   object
 2   Genero                7032 non-null   object
 3   Senioridade           7032 non-null   object
 4   Parceiro              7032 non-null   object
 5   Depedentes            7032 non-null   object
 6   Permanencia           7032 non-null   int64
 7   Serviço_Movel         7032 non-null   object
 8   Multiplas_Linhas      7032 non-null   object
 9   Serviço_Internet      7032 non-null   object
 10  Segurança_Online      7032 non-null   object
 11  Backup_Online         7032 non-null   object
 12  Proteção_Dispositivo  7032 non-null   object
 13  Suporte_Tecnico       7032 non-null   object
 14  TV_a_Cabo             7032 non-null   object
 15  Serviço_Filmes        7032 non-null   object
 16  Contrato              7032 non-null   object
 17  Fatura_Digital        7032 non-null   object
 18  Metodo_Pagamento      7032 non-null   object
 19  Tarifa_mensal         7032 non-null   float64
 20  Tarifa_Total          7032 non-null   float64
dtypes: float64(2), int64(1), object(18)
memory usage: 1.1+ MB

In [ ]:
# exporta e converte o dataset para json, para ser baixado e manipulado
dataset.to_json("Dataset_Challenge")

# Considerações finais

se você chegou até ali e leu tudo que escrevi, MUITO OBRIGADO pela sua atenção!. é uma honra pra mim ter alguem prestigiando meu código e eu estou aberto para oportunidades de melhoria.
caso queira entrar em contato comigo, poderá falar comigo através do github, ou pelo meu [linkedin](https://www.linkedin.com/in/vinicius-gasperazzo-rosa-04646b97/) também.

mais uma vez obrigado por tudo, e tenha um ótimo dia =)